.navbar {
  background-color:transparent;
  -webkit-transition: background-color 225ms linear;
  -ms-transition: background-color 225ms linear;
  transition: background-color 225ms linear;
  height: 90px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  padding: 1.5em;
  z-index: 999;;
  
}
.navbar.active{
  background-color:#1C1B1B;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1900px;
}


.navbar-logo {
  color: #fff;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: right;
  width: 60vw;
  justify-content: right;
  left: -10%;

}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
}

.nav-item .active {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar{
    background-color:#1C1B1B;
  }
  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 36vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1;
    height:39.5vh;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2.1rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
